/*style the font*/
body {
  font-family: 'Lora', serif;
  color: #358BBB; 
}


/*make the adjustment for the mobile device*/
@media (max-width: 990px) {
  h1, 
  h2,
  h4 {
    text-align: center;
  }

  img {
    margin: 0 auto;
  }
}

p, ul {
  font-size: 18px;
}

/*Header style*/

/*class to make the text thick for slogan*/
.text-thick {
  font-weight: 600; /*thicker version of the google font*/
}

/*make the line thicker*/
hr {
  background-color: #75deec;
  height: 4px;
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
}


/*make the content move lower*/
.move-lower {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}


.space-below {
  padding-bottom: 30px;
}

.img-centered {
  margin-left: 40px;
}

.make-border {
    outline: 4px solid black;
}

.text-big {
  font-size: 50px;
}

.make-space-below {
  margin-bottom: 50px;
}

.change-font-size {
  font-size: 20px;
}

.map-space {
  margin-left: 2px;
}


nav {
  background-color: none;
  margin-left: 100px;
  margin-right: 75px;
}

.navbar-default {
  background-color: white;
  border-color: white;
}
.nav a {
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
}


footer {
  display: block;
  margin-top: 50px;
  clear: right; /*clear property causes footer element to be displayed without floated elements to its right*/
  background-color: #F4F1F1;
  }
footer p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: black;

  }


#faq {
  color: white;
  margin: 0;
  padding-bottom: 3em;
  }

.questionslist {
  padding-bottom: 3em;
  }
  
.desc {
  padding: 0;
  margin: 1em 0 0 2em;
  }
  
  
.answer {
  padding: 0;
  margin: 1em 0 0 2em;
  font-weight: bold;
  }
  
.toplink {
  text-align: right;
  padding: 0 1em 0.25em 0;
  margin: 0;
  clear: right;
  }


a {
  color: blue;
  }

a:hover {
  color: black;
  }

.modal p {
    word-wrap: break-word;
}

.btn{
    white-space:normal !important;
    word-wrap:break-word; 
}

.modal-body {
  text-align: left;
}

.main-slideshow {
  margin-left: 80px;
  margin-right: 80px;
}


	